@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;

  --gradient2: linear-gradient(89.97deg, #324868 1.84%, #0e0e13 102.67%);
  --primary-btn: linear-gradient(101.12deg, #324868 27.35%, #161c38 99.99%, #0e0e13 100%, #0e0e13 100%);
  
  --primary-color: #324868;
  --secondary-color: #161c38;

  --color-bg: #24252d;
  --color-card : #2A2D3A;
  --color-footer : #24252D;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #2A2D3A #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: var(--color-card);
    border-radius: 10px;
    border: 3px none #ffffff;
  }